<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
</head>
<body>
<!--I am a template...!
{{name}}-->
<h1>Welcome to text Analyzer Below...</h1>
<form action="analyze" method="get">
<textarea name="text" style="margin: 0px; width: 1283px; height: 153px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuation<br>
    <input type="checkbox" name="capital">Capatalize<br>
    <input type="checkbox" name="lineremover">New Line Remover<br>
    <input type="checkbox" name="spaceremover">Extra Space Remover<br>
    <button type="submit">Analyze Text</button>

    </form>
</body>
</html>